div{
    background-color: white;
    border:1px;
    border: linen;
    border-radius:20px;
    box-shadow: 10px 10px 5px #888888;
    padding:0px;
    margin: 0px;
    height: 200px;
    width: 300px;
    margin-right:40px;
    float: left;
    vertical-align: top;
}

body{
    background-color: peachpuff;
    
}

